.gallery-photo {
	border: 1px solid grey;
}

.gallery {
	margin: 0 -2px;
}

.gallery-thumbnail {
	padding: 4px 2px;
}

.product-feature {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 5px 0;
}

.btn-add {
	background: #000;
	color: #fff;
	padding: 15px;
	border-radius: 99px;
	display: inline-block;
	margin-top: 15px;
}
.btn-add:hover {
	background: blue;
	color: #fff;
	text-decoration: none;
}